<!-- <div>
    <div class="container-fluid w-100">
        <div class="row w-100">
            <div class="header-class">
                <p-button type="button" class="mr-2" (click)="visibleSidebar = true" icon="pi pi-arrow-right"></p-button>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="visibleSidebar" styleClass="p-sidebar-lg" [baseZIndex]="10000">
    <h3>Left Sidebar</h3>
</p-sidebar> -->
<!-- <div class="container-fluid w-100">
    <div class="row w-100">
        <div class="col-lg-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 16vw; height: 95vh; ">
                <a href="/ " class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                    <svg class="bi me-2 " width="40 " height="32 "><use xlink:href="#bootstrap "/></svg>
                    <img src="../../../assets/images/logo/logo02.png" style="width: 8vw;" alt="">
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto ">
                    <li class="nav-item ">
                        <a href="# " class="nav-link active " aria-current="page ">
                            <svg class="bi me-2 " width="16 " height="16 "><use xlink:href="#home "/></svg> Home
                        </a>
                    </li>
                    <li>
                        <a href="# " class="nav-link text-white ">
                            <svg class="bi me-2 " width="16 " height="16 "><use xlink:href="#speedometer2 "/></svg> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="# " class="nav-link text-white ">
                            <svg class="bi me-2 " width="16 " height="16 "><use xlink:href="#table "/></svg> Orders
                        </a>
                    </li>
                    <li>
                        <a href="# " class="nav-link text-white ">
                            <svg class="bi me-2 " width="16 " height="16 "><use xlink:href="#grid "/></svg> Products
                        </a>
                    </li>
                    <li>
                        <a href="# " class="nav-link text-white ">
                            <svg class="bi me-2 " width="16 " height="16 "><use xlink:href="#people-circle "/></svg> Customers
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown ">
                    <a href="# " class="d-flex align-items-center text-white text-decoration-none dropdown-toggle " id="dropdownUser1 " data-bs-toggle="dropdown " aria-expanded="false ">
                        <img src="https://github.com/mdo.png " alt=" " width="32 " height="32 " class="rounded-circle me-2 ">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow " aria-labelledby="dropdownUser1 ">
                        <li><a class="dropdown-item " href="# ">New project...</a></li>
                        <li><a class="dropdown-item " href="# ">Settings</a></li>
                        <li><a class="dropdown-item " href="# ">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider ">
                        </li>
                        <li><a class="dropdown-item " href="# ">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10 ">
            <div class="header-class ">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer-class">
        <span class="font-medium text-secondary">Science Life &copy; {{currentYear}} - Template by Fuse - Desenvolvido por Triforce Coding</span>
    </div>

</div> -->
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
</header>
<footer class="footer text-center" id="footer">
    <div class="footer_toggle"> <span class="font-medium text-secondary">Science Life &copy; {{currentYear}} - Template by Fuse - Desenvolvido por Triforce Coding</span> </div>
</footer>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name"> ScienceLife </span> </a>
            <div class="nav_list">
                <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a>
            </div>
        </div>
        <hr>
        <div class="dropdown ">
            <a href="# " class="d-flex align-items-center text-white text-decoration-none dropdown-toggle " id="dropdownUser1 " data-bs-toggle="dropdown " aria-expanded="false ">
                <img src="https://github.com/mdo.png " alt=" " width="32 " height="32 " class="rounded-circle me-2 ">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow " aria-labelledby="dropdownUser1 ">
                <li><a class="dropdown-item " href="# ">New project...</a></li>
                <li><a class="dropdown-item " href="# ">Settings</a></li>
                <li><a class="dropdown-item " href="# ">Profile</a></li>
                <li>
                    <hr class="dropdown-divider ">
                </li>
                <li><a class="dropdown-item " href="# ">Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
